*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    cursor:default;
}
body{
    font-family: 'Lobster';
    background: linear-gradient(-45deg, #f8891b, #fba44d, #FFC07F, #fba44d, #f8891b);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
article {
    max-width: 1140px;
    margin: 0 auto;
}
.title{
    color:#721121;
    text-align:center;
    font-size:20vh;
    text-shadow:0in 0in 0.1in yellow;
}
.category{
    color:#721121;
    text-align:left;
    font-size:10vh;
    text-shadow:0in 0in 0.1in yellow;
}
header{
    height:13vh;
    background-color:#721121;
    display:inline-block;
    width: 100%;
}
.nav-block {
    max-width: 1140px;
    margin: 0 auto;
}
header button{
    display:inline-block;
    justify-content: space-between;
    align-content: center;
    margin-top: 3.5vh;
    margin-left: 2vh;
}
.pushable-header {
    background: #42181f;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
.front-header {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #FFC07F;
    color: #721121;
    font-family: 'Lobster';
    text-decoration: solid;
    transform: translateY(-6px);
}
.pushable-header:active .front-header {
    transform: translateY(-2px);
}
ul.menu-block {
    max-width: 75.5em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.menu-block li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . . "}
ul.menu-block span:first-child {
    padding-right: 0.33em;
}
ul.menu-block span + span {
    float: right;
    padding-left: 0.33em;
}
.item-containter {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.pushable-add {
    background: #42181f;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 2px;
    margin-left: 1vh;
}
.front-add {
    display: block;
    padding: 2px 9px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #721121;
    color: white;
    transform: translateY(-6px);
}
.pushable-add:active .front-add {
    transform: translateY(-2px);
}
.menu-item {
    padding: 10px;
    font-size: 110%;
}
.cart-header {
    color:#721121;
    text-align:left;
    font-size:24px;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-top: 10px;
    color:#721121;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
.pushable-remove {
    background: #42181f;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}
.front-remove {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #721121;
    color: #FFC07F;
    font-family: 'Lobster';
    text-decoration: solid;
    transform: translateY(-6px);
}
.pushable-remove:active .front-remove {
    transform: translateY(-2px);
}
.cart-quantity button {
    margin-left: 8vh;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #721121;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
    margin-top: 3vh;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #721121;
    margin-right: 20px;
}

.cart-total-price {
    color: #721121;
    font-size: 1.1em;
}

.pushable-purchase {
    background: #42181f;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    margin: 0 43.5%;
}
.front-purchase {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: #721121;
    color: #FFC07F;
    font-family: 'Lobster';
    text-decoration: solid;
    transform: translateY(-6px);
}
.pushable-purchase:active .front-purchase {
    transform: translateY(-2px);
}
.purchase-btn {
    padding: 5vh;
}
.login-container {
    max-width: 350px;
    height: 500px;
    margin: 50px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('Chicken-Tinga-Tacos-6.png');
    background-size: cover;
    border: .8vh solid #721121;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.666);
}
label {
    color: #FFC07F;
    display: block;
    font-size: 24px;
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
}
input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn-login {
    background-color: #721121;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-login:hover {
    background-color: #572032;
}
.login-content {
    padding-top: 20%;
}
.login-confirmation{
    padding-top: -5%;
}
.landing-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('homepagebg.jpg');
    height: 87vh;
    background-size: cover;
    background-position: center;
}
.homepage-content {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 20vh;
}
.landing-btn {
    text-align: center;
    margin-top: 2vh;
}
.right-homepage-block {
    margin-top: 20vh;
}
.right-homepage-block h2 {
    color:#721121;
    text-align:center;
    font-size:6vh;
    text-shadow:-1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;
}
.center{
    margin:auto;
    margin-top:10px;
    text-align:center;
    margin-left:35%;
    
}
